.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  justify-content: center;
  flex: 1;
  background-color: #f7f9fb;
  padding: 16px;
}

.metaMask {
  align-items: center;
}