.metaMask {
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;  
}

.metaMask-buttons {
  width: 332px;
  display: flex;
  justify-content: space-between;
}

.metaMask-image {
  width: 664px;
  max-width: 100%;
}

.metaMask-image > img {
  max-width: 100%;
}

