.metaMask {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.metaMask-image > img {
  max-width: 100%;
}

.metaMask-buttons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 24px
}

.metaMask-buttons > button {
  width: 205px;
}
