.action-modal__content{
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.action-modal__actions {
  justify-content: flex-end;
}

.action-modal__actions-buttons {
  display: flex;
  justify-content: flex-end;
  flex: 1;
  gap: 4px;
}
