.action-modal__content{
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.action-modal__actions {
  justify-content: space-between;
}

.action-modal__actions-buttons {
  display: flex;
  gap: 4px;
}
